In [1]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [11]:
##load the ann trained model,scaler pickle,onehot
from tensorflow.keras.models import load_model
model = load_model('model.h5')

##load the encoder and scaler 
with open('onehot_encoder_geo.pkl','rb') as file: 
    label_encoder_geo = pickle.load(file)
with open('label_encoder_gender.pkl','rb') as file: 
    label_encoder_gender = pickle.load(file)
with open('scaler.pkl','rb') as file: 
    scaler = pickle.load(file)
#

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [5]:
#example data 
input_data = {
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':60000,
    'NumofProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000
}

In [16]:
#oneHot encode 'geography' 

geo_encoded = label_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded,columns=label_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Users\ptani\OneDrive\Desktop\python\venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [17]:
input_data = pd.DataFrame([input_data])
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumofProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [18]:
input_data = pd.concat([input_data.reset_index(drop=True),geo_encoded_df],axis=1)
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumofProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,France,Male,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [20]:
input_data['Gender'] = label_endcoder_gender.transform(input_data['Gender'])
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumofProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,France,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [28]:
##concat one hot encoded data 
input_data = pd.concat([input_data.drop("Geography",axis=1),geo_encoded_df],axis=1)
input_data

KeyError: "['Geography'] not found in axis"

In [31]:
input_data = input_data.loc[:, ~input_data.columns.duplicated()]
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumofProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [34]:
from sklearn.preprocessing import StandardScaler,LabelEncoder

In [38]:
input_data = input_data.rename(columns={
    "NumofProducts": "NumOfProducts"
})

In [40]:
input_scaled= scaler.transform(input_data)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [45]:
##predict churn
model.predict

array([[0.04557393]], dtype=float32)

In [46]:
prob = model.predict[0][0]
prob

np.float32(0.045573935)